@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.btnCharacter {
  background-color: var(--light);
  border: transparent;
  width: 70%;
}

.btnCharacter:hover {
  background-color: var(--primary);
}

.btnCharacter:active {
  background-color: var(--secondary);
}

.btnCharacterSelected {
  background-color: #779dff;
  border: transparent;
  width: 70%;
}

.btnCharacterSelected:hover {
  background-color: var(--primary);
}

.btnCharacterSelected:hover {
  background-color: var(--secondary);
}

.btnRoom {
  background-color: var(--light);
  border: solid;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnRoom:hover {
  background-color: darkgray;
}

.btnRoom:active {
  background-color: gray;
}