@import "../node_modules/bootstrap/scss/bootstrap";

.btnCharacter {
    background-color: $light;
    border: transparent;
    width: 70%;

    &:hover {
        background-color: $primary;
    }

    &:active {
        background-color: $secondary;
    }
}

.btnCharacterSelected {
    background-color: #779dff;
    border: transparent;
    width: 70%;

    &:hover {
        background-color: $primary;
    }

    &:hover {
        background-color: $secondary;
    }
}

.btnRoom {
    background-color: $light;
    border: solid;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover {
        background-color: darkgray;
    }

    &:active {
        background-color: gray;
    }
}